<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>SWP391_MINI</display-name>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterJobSeekerServlet</servlet-name>
        <servlet-class>controller.jobseeker.RegisterJobSeekerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterJobSeekerServlet</servlet-name>
        <url-pattern>/register/jobseeker</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterEmployerServlet</servlet-name>
        <servlet-class>controller.employer.RegisterEmployerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterEmployerServlet</servlet-name>
        <url-pattern>/register/employer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/change-password</url-pattern>
    </servlet-mapping>
</web-app>
